.editer-content{
  .post-title {
    height: 30px;
    width: 99%;
    margin: 20px 0;
  }

  [id="form-post[editer]_ifr"] {
    min-height: 600px;
  }
  #mceu_18 {
    margin-bottom: 6%;
  }

  .edit-meta-data-stat {
    border: 1px solid lighten($admin_theme_color, 50%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 6%;
    width: 100%;
    background-color: #FFF;

    ul, input[type="text"], input[type="select"], select {
      width: 95%;
    }
  }

  .edit-meta-data-title-wrapper {
    padding: 3%;
    border-bottom: 1px solid lighten($admin_theme_color, 50%);
    font-size: 1.7rem;
    font-weight: bold;
  }

  .edit-meta-data-content-wrapper {
    padding: 3%;

    .edit-meta-data-row {
      margin: 5px  0;
      line-height: 35px;

      .edit-meta-data-name {
        float: left;
        font-size: 1.4rem;
        margin-right: 3px;
      }
      .edit-meta-data-data {
        float: left;
      }
    }
  }
}
