// float left
.float-left { float: left; }

// float right
.float-left { float: right; }

// width half
.width-half { width: 50%; }

// clear fix
.clear-fix {
  @include clearfix;
}

// clear fix
.pie-clear-fix {
  @include pie-clearfix;
}

// position: fixed; top:0
.position-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

// extend bootstrap class design
.contener {
  @media #{$window_el_size_from}{
    max-width: 1140px;
  }
  @media #{$window_lg_size_from_to}{
    max-width: 940px;
  }
  @media #{$window_md_size_from_to}{
    max-width: 720px;
  }
  @media #{$window_lg_size_from_to}{
    max-width: 576px;
  }
  @media #{$window_es_size_to}{
    max-width: auto;
  }

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contener .row{
  margin-left: -15px;
  margin-right: -15px;
}

.contener-full {
  max-width: 100%;
}

.contener-full .row {
  margin-left: 0;
  margin-right: 0;
}

@media #{$window_es_size_from}{
  //width
  .col-es-1 { width: $col-1; }
  .col-es-2 { width: $col-2; }
  .col-es-3 { width: $col-3; }
  .col-es-4 { width: $col-4; }
  .col-es-5 { width: $col-5; }
  .col-es-6 { width: $col-6; }
  .col-es-7 { width: $col-7; }
  .col-es-8 { width: $col-8; }
  .col-es-9 { width: $col-9; }
  .col-es-10 { width: $col-10; }
  .col-es-11 { width: $col-11; }
  .col-es-12 {
    width: $col-12;
    float: none;
  }

  // offset
  .col-es-1-offset { margin-left: $col-1; }
  .col-es-2-offset { margin-left: $col-2; }
  .col-es-3-offset { margin-left: $col-3; }
  .col-es-4-offset { margin-left: $col-4; }
  .col-es-5-offset { margin-left: $col-5; }
  .col-es-6-offset { margin-left: $col-6; }
  .col-es-7-offset { margin-left: $col-7; }
  .col-es-8-offset { margin-left: $col-8; }
  .col-es-9-offset { margin-left: $col-9; }
  .col-es-10-offset { margin-left: $col-10; }
  .col-es-11-offset { margin-left: $col-11; }
}

@media #{$window_sm_size_from}{
  // width
  .col-sm-1 { width: $col-1; }
  .col-sm-2 { width: $col-2; }
  .col-sm-3 { width: $col-3; }
  .col-sm-4 { width: $col-4; }
  .col-sm-5 { width: $col-5; }
  .col-sm-6 { width: $col-6; }
  .col-sm-7 { width: $col-7; }
  .col-sm-8 { width: $col-8; }
  .col-sm-9 { width: $col-9; }
  .col-sm-10 { width: $col-10; }
  .col-sm-11 { width: $col-11; }
  .col-sm-12 {
    width: $col-12;
    float: none;
  }

  // offset
  .col-sm-1-offset { margin-left: $col-1; }
  .col-sm-2-offset { margin-left: $col-2; }
  .col-sm-3-offset { margin-left: $col-3; }
  .col-sm-4-offset { margin-left: $col-4; }
  .col-sm-5-offset { margin-left: $col-5; }
  .col-sm-6-offset { margin-left: $col-6; }
  .col-sm-7-offset { margin-left: $col-7; }
  .col-sm-8-offset { margin-left: $col-8; }
  .col-sm-9-offset { margin-left: $col-9; }
  .col-sm-10-offset { margin-left: $col-10; }
  .col-sm-11-offset { margin-left: $col-11; }
}

@media #{$window_md_size_from}{
  // width
  .col-md-1 { width: $col-1; }
  .col-md-2 { width: $col-2; }
  .col-md-3 { width: $col-3; }
  .col-md-4 { width: $col-4; }
  .col-md-5 { width: $col-5; }
  .col-md-6 { width: $col-6; }
  .col-md-7 { width: $col-7; }
  .col-md-8 { width: $col-8; }
  .col-md-9 { width: $col-9; }
  .col-md-10 { width: $col-10; }
  .col-md-11 { width: $col-11; }
  .col-md-12 {
    width: $col-12;
    float: none;
  }

  // offset
  .col-md-1-offset { margin-left: $col-1; }
  .col-md-2-offset { margin-left: $col-2; }
  .col-md-3-offset { margin-left: $col-3; }
  .col-md-4-offset { margin-left: $col-4; }
  .col-md-5-offset { margin-left: $col-5; }
  .col-md-6-offset { margin-left: $col-6; }
  .col-md-7-offset { margin-left: $col-7; }
  .col-md-8-offset { margin-left: $col-8; }
  .col-md-9-offset { margin-left: $col-9; }
  .col-md-10-offset { margin-left: $col-10; }
  .col-md-11-offset { margin-left: $col-11; }
}

@media #{$window_lg_size_from}{
  // width
  .col-lg-1 { width: $col-1; }
  .col-lg-2 { width: $col-2; }
  .col-lg-3 { width: $col-3; }
  .col-lg-4 { width: $col-4; }
  .col-lg-5 { width: $col-5; }
  .col-lg-6 { width: $col-6; }
  .col-lg-7 { width: $col-7; }
  .col-lg-8 { width: $col-8; }
  .col-lg-9 { width: $col-9; }
  .col-lg-10 { width: $col-10; }
  .col-lg-11 { width: $col-11; }
  .col-lg-12 {
    width: $col-12;
    float: none;
  }

  // offset
  .col-lg-1-offset { margin-left: $col-1; }
  .col-lg-2-offset { margin-left: $col-2; }
  .col-lg-3-offset { margin-left: $col-3; }
  .col-lg-4-offset { margin-left: $col-4; }
  .col-lg-5-offset { margin-left: $col-5; }
  .col-lg-6-offset { margin-left: $col-6; }
  .col-lg-7-offset { margin-left: $col-7; }
  .col-lg-8-offset { margin-left: $col-8; }
  .col-lg-9-offset { margin-left: $col-9; }
  .col-lg-10-offset { margin-left: $col-10; }
  .col-lg-11-offset { margin-left: $col-11; }
}

@media #{$window_el_size_from}{
  // width
  .col-el-1 { width: $col-1; }
  .col-el-2 { width: $col-2; }
  .col-el-3 { width: $col-3; }
  .col-el-4 { width: $col-4; }
  .col-el-5 { width: $col-5; }
  .col-el-6 { width: $col-6; }
  .col-el-7 { width: $col-7; }
  .col-el-8 { width: $col-8; }
  .col-el-9 { width: $col-9; }
  .col-el-10 { width: $col-10; }
  .col-el-11 { width: $col-11; }
  .col-el-12 {
    width: $col-12;
    float: none;
  }

  // offset
  .col-el-1-offset { margin-left: $col-1; }
  .col-el-2-offset { margin-left: $col-2; }
  .col-el-3-offset { margin-left: $col-3; }
  .col-el-4-offset { margin-left: $col-4; }
  .col-el-5-offset { margin-left: $col-5; }
  .col-el-6-offset { margin-left: $col-6; }
  .col-el-7-offset { margin-left: $col-7; }
  .col-el-8-offset { margin-left: $col-8; }
  .col-el-9-offset { margin-left: $col-9; }
  .col-el-10-offset { margin-left: $col-10; }
  .col-el-11-offset { margin-left: $col-11; }
}

.col-es-1, .col-es-2, .col-es-3, .col-es-4, .col-es-5, .col-es-6, .col-es-7, .col-es-8, .col-es-9, .col-es-10, .col-es-11,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-el-1, .col-el-2, .col-el-3, .col-el-4, .col-el-5, .col-el-6, .col-el-7, .col-el-8, .col-el-9, .col-el-10, .col-el-11{
    float: left;
}

.col-es-1, .col-es-2, .col-es-3, .col-es-4, .col-es-5, .col-es-6, .col-es-7, .col-es-8, .col-es-9, .col-es-10, .col-es-11, .col-es-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-el-1, .col-el-2, .col-el-3, .col-el-4, .col-el-5, .col-el-6, .col-el-7, .col-el-8, .col-el-9, .col-el-10, .col-el-11, .col-el-12{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
