<DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8" />
  <title>CMS</title>

  <!-- css import -->
  <link rel="stylesheet" type="text/css" href="../css/admin.css">
  <!-- css import -->

  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>

<div class="mainWrapper">
  <header class="main-header">
    <div class="main-header-logo">logo</div>
    <div class="main-header-site"><a class="main-header-site-link">サイトを表示</a></div>
  </header>
  <aside class="main-sidebar">
    <ul class="main-menu">
      <li class="main-menu-item"><a class="main-menu-item-link">ホーム</a></li>
      <li class="main-menu-item main-menu-item-including-sub-menu">
        <a class="main-menu-item-link">ブログ</a>
        <ul class="main-menu-item-inner-sub-menu">
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">一覧</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">新規投稿</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">カテゴリー</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">タグ</a></li>
        </ul>
      </li>
      <li class="main-menu-item">
        <a class="main-menu-item-link">ニュース</a>
        <ul class="main-menu-item-inner-sub-menu">
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">一覧</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">新規記事</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">カテゴリー</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">タグ</a></li>
        </ul>
      </li>
      <li class="main-menu-item">
        <a class="main-menu-item-link">メディア</a>
        <ul class="main-menu-item-inner-sub-menu">
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">画像</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">その他</a></li>
        </ul>
      </li>
      <li class="main-menu-item">
        <a class="main-menu-item-link">固定ページ</a>
        <ul class="main-menu-item-inner-sub-menu">
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">一覧</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">新規投稿</a></li>
        </ul>
      </li>
      <li class="main-menu-item">
        <a class="main-menu-item-link">設定</a>
        <ul class="main-menu-item-inner-sub-menu">
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">簡易設定</a></li>
          <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link">詳細設定</a></li>
        </ul>
      </li>
    </ul>
  </aside>
  <main id="main">
  </main>
  <footer class="main-footer">
    <div class="main-footer-copyright">Kyuacare&copy;2017</div>
  </footer>
</div>

</body>
</html>
