<DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8" />
  <title>CMS</title>

  <!-- css import -->
  <!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="../css/admin-style.css">
  <!-- css import -->

  <!-- js import -->
  <script type="text/javascript" src="../js/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
  // ファイルブラウザが開かれる時に呼び出される関数
  // https://github.com/Studio-42/elFinder/wiki/Integration-with-TinyMCE-4.x を一部変更しています。
  function elFinderBrowser (field_name, url, type, win) {
      tinymce.activeEditor.windowManager.open({
          file: '../js/elFinder-2.1.12/elfinder.html', // elFinderを配置した場所を指定して下さい(絶対パス)
          title: 'ファイルのアップロード・選択',
          width: 900,
          height: 450,
          resizable: 'yes'
      }, {
          setUrl: function (url) {
              win.document.getElementById(field_name).value = url;
          }
      });
      return false;
  }

  tinymce.init({
      selector: "#foo", // id="foo"の場所にTinyMCEを適用
      language: "ja",   // 言語 = 日本語

      plugins: "textcolor image link lists", // [追加] 1. 画像挿入ボタンを有効にする
      toolbar: [ // ツールバー(2段)
          // 戻る 進む | フォーマット | 太字 斜体 | 左寄せ 中央寄せ 右寄せ 均等割付 | 箇条書き 段落番号 インデントを減らす インデント
          "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist | blockquote | outdent indent",
          // 文字サイズ 文字色 画像 リンク リンク解除
          "fontsizeselect forecolor image link unlink"
      ],
      file_browser_callback : elFinderBrowser // [追加] 2. ファイルブラウザの設定を行う (elFinderとの連携)
  });
  </script>
  <!-- js import -->
</head>
<body>

<div class="main-wrapper contener-full">
  <header class="main-header">
    <div class="position-top-fixed row pie-clear-fix">
      <div class="main-header-logo col-md-1">logo</div>
      <div class="main-header-site col-md-1"><a class="main-header-site-link"><div class="main-header-site-link-name">サイトを表示</div></a>
    </div>
  </header>
  <main id="main" class="row pie-clear-fix">
    <aside class="main-sidebar col-md-2">
      <ul class="main-menu">
        <li class="main-menu-item"><a class="main-menu-item-link"><div class="main-menu-item-link-name">ホーム</div></a></li>
        <li class="main-menu-item main-menu-item-including-sub-menu now">
          <a class="main-menu-item-link"><div class="main-menu-item-link-name">ブログ</div></a>
          <ul class="main-menu-item-inner-sub-menu">
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">一覧</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">新規投稿</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">カテゴリー</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">タグ</div></a></li>
          </ul>
        </li>
        <li class="main-menu-item main-menu-item-including-sub-menu">
          <a class="main-menu-item-link"><div class="main-menu-item-link-name">ニュース</div></a>
          <ul class="main-menu-item-inner-sub-menu">
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">一覧</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">新規記事</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">カテゴリー</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">タグ</div></a></li>
          </ul>
        </li>
        <li class="main-menu-item main-menu-item-including-sub-menu">
          <a class="main-menu-item-link"><div class="main-menu-item-link-name">メディア</div></a>
          <ul class="main-menu-item-inner-sub-menu">
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">画像</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">その他</div></a></li>
          </ul>
        </li>
        <li class="main-menu-item main-menu-item-including-sub-menu">
          <a class="main-menu-item-link"><div class="main-menu-item-link-name">固定ページ</div></a>
          <ul class="main-menu-item-inner-sub-menu">
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">一覧</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">新規投稿</div></a></li>
          </ul>
        </li>
        <li class="main-menu-item main-menu-item-including-sub-menu">
          <a class="main-menu-item-link"><div class="main-menu-item-link-name">設定</div></a>
          <ul class="main-menu-item-inner-sub-menu">
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">簡易設定</div></a></li>
            <li class="main-menu-item-inner-sub-menu-item"><a class="main-menu-item-inner-sub-menu-item-link"><div class="main-menu-item-inner-sub-menu-item-link-name">詳細設定</div></a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="main-content col-md-10 col-md-2-offset">
      <form method="post" action="./test.php">
        <textarea id="foo" name="foo">最初に入力しておきたい文章</textarea>
        <input type="submit" value="送信" />
      </form>
    </div>
  </main>
  <footer class="main-footer contener-full">
    <div class="main-footer-copyright">Kyuacare&copy;2017</div>
  </footer>
</div>

<script type="text/javascript">
   var including_submenu = document.querySelectorAll('.main-menu-item-including-sub-menu');
   for(var i=0; i<including_submenu.length; i++){
     including_submenu[i].addEventListener('mouseover', function(){
       console.log('hover');
     }, false);
     including_submenu[i].addEventListener('mouseout', function(){
       console.log('leave');
     }, false);
   }
</script>

</body>
</html>
