@import "compass";
@import "compass/reset";
@import "_settings";
@import "imports/_class-parts";

// reset
html {font-size: 62.5%;}
main,footer,header,section,article {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html,body,div,p,table,td,tr,ul,li,ol,section,article,main,header,footer,aside{
  box-sizing: border-box;
}
.main-wrapper,
.main-wrapper .main-header,
.main-wrapper .main-footer,
#main { width: 100%; }

.main-header {
  height: 30px;
  background-color: $admin_theme_color;
  color: invert($admin_theme_color);

  .position-top-fixed {
    height: 30px;
    background-color: $admin_theme_color;

    .main-header-site { min-width: 120px;}
    .main-header-site-link { display:block; }
    .main-header-logo,.main-header-site-link-name {
      font-size: 1.4rem;
      line-height: 18px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-weight: bold;
    }
  }
}

#main {
 position: relative;
}

.main-sidebar {
  background-color: $admin_theme_color;
  min-width: 120px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
.main-menu .main-menu-item {
  min-height: 35px;
  color: invert($admin_theme_color);
  padding:0 0 0 15px;
  position: relative;

  .main-menu-item-inner-sub-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 120px;

    .main-menu-item-inner-sub-menu-item {
      padding-left: 15px;
    }

    .main-menu-item-inner-sub-menu-item-link-name{
      font-size: 1.4rem;
      line-height: 18px;
      padding: 8px 0;
      font-weight: bold;
    }
  }

  &:hover{
    background-color: darken($admin_theme_color, 50%);
    color: darken(invert($admin_theme_color), 50%);
  }

  &.main-menu-item-including-sub-menu:hover{

    &:after{
      right: 0px;
      border: 8px solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-right-color: lighten($admin_theme_color, 15%);
      top: 50%;
      margin-top: -8px;
    }
    .main-menu-item-inner-sub-menu {
      display: block;
      z-index: 9999;
      background-color: lighten($admin_theme_color, 15%);
      color: lighten(invert($admin_theme_color), 50%);
    }
  }

  &.now{
    background-color: lighten($admin_theme_color, 50%);
    color: lighten(invert($admin_theme_color), 50%);

    &:hover .main-menu-item-inner-sub-menu{
      background-color: lighten($admin_theme_color, 50%);
      color: lighten(invert($admin_theme_color), 50%);
      z-index: auto;
    }

    .main-menu-item-inner-sub-menu{
      display: block;
      position: relative;
      left:0;
      top:0;
    }
  }
  .main-menu-item-link {
    display: block;
    position: relative;

    .main-menu-item-link-name {
      font-size: 1.4rem;
      line-height: 18px;
      padding: 8px 0;
      font-weight: bold;
    }
  }

}

.main-content {
  min-height: 800px;
}

.main-footer {
  min-height: 30px;
  text-align: center;
  padding: 8 0px;
  background-color: $admin_theme_color;
  color: invert($admin_theme_color);
}
