/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/imports/_class-parts.scss */
.float-left {
  float: left;
}

/* line 5, ../scss/imports/_class-parts.scss */
.float-left {
  float: right;
}

/* line 8, ../scss/imports/_class-parts.scss */
.width-half {
  width: 50%;
}

/* line 11, ../scss/imports/_class-parts.scss */
.clear-fix {
  overflow: hidden;
  *zoom: 1;
}

/* line 16, ../scss/imports/_class-parts.scss */
.pie-clear-fix {
  *zoom: 1;
}
/* line 38, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.pie-clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 21, ../scss/imports/_class-parts.scss */
.position-top-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/* line 30, ../scss/imports/_class-parts.scss */
.contener {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 941px) {
  /* line 30, ../scss/imports/_class-parts.scss */
  .contener {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 940px) {
  /* line 30, ../scss/imports/_class-parts.scss */
  .contener {
    max-width: 940px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 720px) {
  /* line 30, ../scss/imports/_class-parts.scss */
  .contener {
    max-width: 720px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 940px) {
  /* line 30, ../scss/imports/_class-parts.scss */
  .contener {
    max-width: 576px;
  }
}
@media only screen and (max-width: 544px) {
  /* line 30, ../scss/imports/_class-parts.scss */
  .contener {
    max-width: auto;
  }
}

/* line 53, ../scss/imports/_class-parts.scss */
.contener .row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 58, ../scss/imports/_class-parts.scss */
.contener-full {
  max-width: 100%;
}

/* line 62, ../scss/imports/_class-parts.scss */
.contener-full .row {
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (max-width: 544px) {
  /* line 69, ../scss/imports/_class-parts.scss */
  .col-es-1 {
    width: 8.33333%;
  }

  /* line 70, ../scss/imports/_class-parts.scss */
  .col-es-2 {
    width: 16.66667%;
  }

  /* line 71, ../scss/imports/_class-parts.scss */
  .col-es-3 {
    width: 25%;
  }

  /* line 72, ../scss/imports/_class-parts.scss */
  .col-es-4 {
    width: 33.33333%;
  }

  /* line 73, ../scss/imports/_class-parts.scss */
  .col-es-5 {
    width: 41.66667%;
  }

  /* line 74, ../scss/imports/_class-parts.scss */
  .col-es-6 {
    width: 50%;
  }

  /* line 75, ../scss/imports/_class-parts.scss */
  .col-es-7 {
    width: 58.33333%;
  }

  /* line 76, ../scss/imports/_class-parts.scss */
  .col-es-8 {
    width: 66.66667%;
  }

  /* line 77, ../scss/imports/_class-parts.scss */
  .col-es-9 {
    width: 75%;
  }

  /* line 78, ../scss/imports/_class-parts.scss */
  .col-es-10 {
    width: 83.33333%;
  }

  /* line 79, ../scss/imports/_class-parts.scss */
  .col-es-11 {
    width: 91.66667%;
  }

  /* line 80, ../scss/imports/_class-parts.scss */
  .col-es-12 {
    width: 100%;
  }

  /* line 83, ../scss/imports/_class-parts.scss */
  .col-es-1-offset {
    margin-left: 8.33333%;
  }

  /* line 84, ../scss/imports/_class-parts.scss */
  .col-es-2-offset {
    margin-left: 16.66667%;
  }

  /* line 85, ../scss/imports/_class-parts.scss */
  .col-es-3-offset {
    margin-left: 25%;
  }

  /* line 86, ../scss/imports/_class-parts.scss */
  .col-es-4-offset {
    margin-left: 33.33333%;
  }

  /* line 87, ../scss/imports/_class-parts.scss */
  .col-es-5-offset {
    margin-left: 41.66667%;
  }

  /* line 88, ../scss/imports/_class-parts.scss */
  .col-es-6-offset {
    margin-left: 50%;
  }

  /* line 89, ../scss/imports/_class-parts.scss */
  .col-es-7-offset {
    margin-left: 58.33333%;
  }

  /* line 90, ../scss/imports/_class-parts.scss */
  .col-es-8-offset {
    margin-left: 66.66667%;
  }

  /* line 91, ../scss/imports/_class-parts.scss */
  .col-es-9-offset {
    margin-left: 75%;
  }

  /* line 92, ../scss/imports/_class-parts.scss */
  .col-es-10-offset {
    margin-left: 83.33333%;
  }

  /* line 93, ../scss/imports/_class-parts.scss */
  .col-es-11-offset {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 545px) {
  /* line 98, ../scss/imports/_class-parts.scss */
  .col-sm-1 {
    width: 8.33333%;
  }

  /* line 99, ../scss/imports/_class-parts.scss */
  .col-sm-2 {
    width: 16.66667%;
  }

  /* line 100, ../scss/imports/_class-parts.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 101, ../scss/imports/_class-parts.scss */
  .col-sm-4 {
    width: 33.33333%;
  }

  /* line 102, ../scss/imports/_class-parts.scss */
  .col-sm-5 {
    width: 41.66667%;
  }

  /* line 103, ../scss/imports/_class-parts.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 104, ../scss/imports/_class-parts.scss */
  .col-sm-7 {
    width: 58.33333%;
  }

  /* line 105, ../scss/imports/_class-parts.scss */
  .col-sm-8 {
    width: 66.66667%;
  }

  /* line 106, ../scss/imports/_class-parts.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 107, ../scss/imports/_class-parts.scss */
  .col-sm-10 {
    width: 83.33333%;
  }

  /* line 108, ../scss/imports/_class-parts.scss */
  .col-sm-11 {
    width: 91.66667%;
  }

  /* line 109, ../scss/imports/_class-parts.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 112, ../scss/imports/_class-parts.scss */
  .col-sm-1-offset {
    margin-left: 8.33333%;
  }

  /* line 113, ../scss/imports/_class-parts.scss */
  .col-sm-2-offset {
    margin-left: 16.66667%;
  }

  /* line 114, ../scss/imports/_class-parts.scss */
  .col-sm-3-offset {
    margin-left: 25%;
  }

  /* line 115, ../scss/imports/_class-parts.scss */
  .col-sm-4-offset {
    margin-left: 33.33333%;
  }

  /* line 116, ../scss/imports/_class-parts.scss */
  .col-sm-5-offset {
    margin-left: 41.66667%;
  }

  /* line 117, ../scss/imports/_class-parts.scss */
  .col-sm-6-offset {
    margin-left: 50%;
  }

  /* line 118, ../scss/imports/_class-parts.scss */
  .col-sm-7-offset {
    margin-left: 58.33333%;
  }

  /* line 119, ../scss/imports/_class-parts.scss */
  .col-sm-8-offset {
    margin-left: 66.66667%;
  }

  /* line 120, ../scss/imports/_class-parts.scss */
  .col-sm-9-offset {
    margin-left: 75%;
  }

  /* line 121, ../scss/imports/_class-parts.scss */
  .col-sm-10-offset {
    margin-left: 83.33333%;
  }

  /* line 122, ../scss/imports/_class-parts.scss */
  .col-sm-11-offset {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 577px) {
  /* line 127, ../scss/imports/_class-parts.scss */
  .col-md-1 {
    width: 8.33333%;
  }

  /* line 128, ../scss/imports/_class-parts.scss */
  .col-md-2 {
    width: 16.66667%;
  }

  /* line 129, ../scss/imports/_class-parts.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 130, ../scss/imports/_class-parts.scss */
  .col-md-4 {
    width: 33.33333%;
  }

  /* line 131, ../scss/imports/_class-parts.scss */
  .col-md-5 {
    width: 41.66667%;
  }

  /* line 132, ../scss/imports/_class-parts.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 133, ../scss/imports/_class-parts.scss */
  .col-md-7 {
    width: 58.33333%;
  }

  /* line 134, ../scss/imports/_class-parts.scss */
  .col-md-8 {
    width: 66.66667%;
  }

  /* line 135, ../scss/imports/_class-parts.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 136, ../scss/imports/_class-parts.scss */
  .col-md-10 {
    width: 83.33333%;
  }

  /* line 137, ../scss/imports/_class-parts.scss */
  .col-md-11 {
    width: 91.66667%;
  }

  /* line 138, ../scss/imports/_class-parts.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 141, ../scss/imports/_class-parts.scss */
  .col-md-1-offset {
    margin-left: 8.33333%;
  }

  /* line 142, ../scss/imports/_class-parts.scss */
  .col-md-2-offset {
    margin-left: 16.66667%;
  }

  /* line 143, ../scss/imports/_class-parts.scss */
  .col-md-3-offset {
    margin-left: 25%;
  }

  /* line 144, ../scss/imports/_class-parts.scss */
  .col-md-4-offset {
    margin-left: 33.33333%;
  }

  /* line 145, ../scss/imports/_class-parts.scss */
  .col-md-5-offset {
    margin-left: 41.66667%;
  }

  /* line 146, ../scss/imports/_class-parts.scss */
  .col-md-6-offset {
    margin-left: 50%;
  }

  /* line 147, ../scss/imports/_class-parts.scss */
  .col-md-7-offset {
    margin-left: 58.33333%;
  }

  /* line 148, ../scss/imports/_class-parts.scss */
  .col-md-8-offset {
    margin-left: 66.66667%;
  }

  /* line 149, ../scss/imports/_class-parts.scss */
  .col-md-9-offset {
    margin-left: 75%;
  }

  /* line 150, ../scss/imports/_class-parts.scss */
  .col-md-10-offset {
    margin-left: 83.33333%;
  }

  /* line 151, ../scss/imports/_class-parts.scss */
  .col-md-11-offset {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 721px) {
  /* line 156, ../scss/imports/_class-parts.scss */
  .col-lg-1 {
    width: 8.33333%;
  }

  /* line 157, ../scss/imports/_class-parts.scss */
  .col-lg-2 {
    width: 16.66667%;
  }

  /* line 158, ../scss/imports/_class-parts.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 159, ../scss/imports/_class-parts.scss */
  .col-lg-4 {
    width: 33.33333%;
  }

  /* line 160, ../scss/imports/_class-parts.scss */
  .col-lg-5 {
    width: 41.66667%;
  }

  /* line 161, ../scss/imports/_class-parts.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 162, ../scss/imports/_class-parts.scss */
  .col-lg-7 {
    width: 58.33333%;
  }

  /* line 163, ../scss/imports/_class-parts.scss */
  .col-lg-8 {
    width: 66.66667%;
  }

  /* line 164, ../scss/imports/_class-parts.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 165, ../scss/imports/_class-parts.scss */
  .col-lg-10 {
    width: 83.33333%;
  }

  /* line 166, ../scss/imports/_class-parts.scss */
  .col-lg-11 {
    width: 91.66667%;
  }

  /* line 167, ../scss/imports/_class-parts.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 170, ../scss/imports/_class-parts.scss */
  .col-lg-1-offset {
    margin-left: 8.33333%;
  }

  /* line 171, ../scss/imports/_class-parts.scss */
  .col-lg-2-offset {
    margin-left: 16.66667%;
  }

  /* line 172, ../scss/imports/_class-parts.scss */
  .col-lg-3-offset {
    margin-left: 25%;
  }

  /* line 173, ../scss/imports/_class-parts.scss */
  .col-lg-4-offset {
    margin-left: 33.33333%;
  }

  /* line 174, ../scss/imports/_class-parts.scss */
  .col-lg-5-offset {
    margin-left: 41.66667%;
  }

  /* line 175, ../scss/imports/_class-parts.scss */
  .col-lg-6-offset {
    margin-left: 50%;
  }

  /* line 176, ../scss/imports/_class-parts.scss */
  .col-lg-7-offset {
    margin-left: 58.33333%;
  }

  /* line 177, ../scss/imports/_class-parts.scss */
  .col-lg-8-offset {
    margin-left: 66.66667%;
  }

  /* line 178, ../scss/imports/_class-parts.scss */
  .col-lg-9-offset {
    margin-left: 75%;
  }

  /* line 179, ../scss/imports/_class-parts.scss */
  .col-lg-10-offset {
    margin-left: 83.33333%;
  }

  /* line 180, ../scss/imports/_class-parts.scss */
  .col-lg-11-offset {
    margin-left: 91.66667%;
  }
}
@media only screen and (min-width: 941px) {
  /* line 185, ../scss/imports/_class-parts.scss */
  .col-el-1 {
    width: 8.33333%;
  }

  /* line 186, ../scss/imports/_class-parts.scss */
  .col-el-2 {
    width: 16.66667%;
  }

  /* line 187, ../scss/imports/_class-parts.scss */
  .col-el-3 {
    width: 25%;
  }

  /* line 188, ../scss/imports/_class-parts.scss */
  .col-el-4 {
    width: 33.33333%;
  }

  /* line 189, ../scss/imports/_class-parts.scss */
  .col-el-5 {
    width: 41.66667%;
  }

  /* line 190, ../scss/imports/_class-parts.scss */
  .col-el-6 {
    width: 50%;
  }

  /* line 191, ../scss/imports/_class-parts.scss */
  .col-el-7 {
    width: 58.33333%;
  }

  /* line 192, ../scss/imports/_class-parts.scss */
  .col-el-8 {
    width: 66.66667%;
  }

  /* line 193, ../scss/imports/_class-parts.scss */
  .col-el-9 {
    width: 75%;
  }

  /* line 194, ../scss/imports/_class-parts.scss */
  .col-el-10 {
    width: 83.33333%;
  }

  /* line 195, ../scss/imports/_class-parts.scss */
  .col-el-11 {
    width: 91.66667%;
  }

  /* line 196, ../scss/imports/_class-parts.scss */
  .col-el-12 {
    width: 100%;
  }

  /* line 199, ../scss/imports/_class-parts.scss */
  .col-el-1-offset {
    margin-left: 8.33333%;
  }

  /* line 200, ../scss/imports/_class-parts.scss */
  .col-el-2-offset {
    margin-left: 16.66667%;
  }

  /* line 201, ../scss/imports/_class-parts.scss */
  .col-el-3-offset {
    margin-left: 25%;
  }

  /* line 202, ../scss/imports/_class-parts.scss */
  .col-el-4-offset {
    margin-left: 33.33333%;
  }

  /* line 203, ../scss/imports/_class-parts.scss */
  .col-el-5-offset {
    margin-left: 41.66667%;
  }

  /* line 204, ../scss/imports/_class-parts.scss */
  .col-el-6-offset {
    margin-left: 50%;
  }

  /* line 205, ../scss/imports/_class-parts.scss */
  .col-el-7-offset {
    margin-left: 58.33333%;
  }

  /* line 206, ../scss/imports/_class-parts.scss */
  .col-el-8-offset {
    margin-left: 66.66667%;
  }

  /* line 207, ../scss/imports/_class-parts.scss */
  .col-el-9-offset {
    margin-left: 75%;
  }

  /* line 208, ../scss/imports/_class-parts.scss */
  .col-el-10-offset {
    margin-left: 83.33333%;
  }

  /* line 209, ../scss/imports/_class-parts.scss */
  .col-el-11-offset {
    margin-left: 91.66667%;
  }
}
/* line 212, ../scss/imports/_class-parts.scss */
.col-es-1, .col-es-2, .col-es-3, .col-es-4, .col-es-5, .col-es-6, .col-es-7, .col-es-8, .col-es-9, .col-es-10, .col-es-11,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11,
.col-el-1, .col-el-2, .col-el-3, .col-el-4, .col-el-5, .col-el-6, .col-el-7, .col-el-8, .col-el-9, .col-el-10, .col-el-11 {
  float: left;
}

/* line 220, ../scss/imports/_class-parts.scss */
.col-es-1, .col-es-2, .col-es-3, .col-es-4, .col-es-5, .col-es-6, .col-es-7, .col-es-8, .col-es-9, .col-es-10, .col-es-11, .col-es-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-el-1, .col-el-2, .col-el-3, .col-el-4, .col-el-5, .col-el-6, .col-el-7, .col-el-8, .col-el-9, .col-el-10, .col-el-11, .col-el-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 7, ../scss/admin-style.scss */
html {
  font-size: 62.5%;
}

/* line 8, ../scss/admin-style.scss */
main, footer, header, section, article {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* line 15, ../scss/admin-style.scss */
html, body, div, p, table, td, tr, ul, li, ol, section, article, main, header, footer, aside {
  box-sizing: border-box;
}

/* line 18, ../scss/admin-style.scss */
.main-wrapper,
.main-wrapper .main-header,
.main-wrapper .main-footer,
#main {
  width: 100%;
}

/* line 23, ../scss/admin-style.scss */
.main-header {
  height: 30px;
  background-color: #23282d;
  color: #dcd7d2;
}
/* line 28, ../scss/admin-style.scss */
.main-header .position-top-fixed {
  height: 30px;
  background-color: #23282d;
}
/* line 32, ../scss/admin-style.scss */
.main-header .position-top-fixed .main-header-site {
  min-width: 120px;
}
/* line 33, ../scss/admin-style.scss */
.main-header .position-top-fixed .main-header-site-link {
  display: block;
}
/* line 34, ../scss/admin-style.scss */
.main-header .position-top-fixed .main-header-logo, .main-header .position-top-fixed .main-header-site-link-name {
  font-size: 1.4rem;
  line-height: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: bold;
}

/* line 44, ../scss/admin-style.scss */
#main {
  position: relative;
}

/* line 48, ../scss/admin-style.scss */
.main-sidebar {
  background-color: #23282d;
  min-width: 120px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}

/* line 57, ../scss/admin-style.scss */
.main-menu .main-menu-item {
  min-height: 35px;
  color: #dcd7d2;
  padding: 0 0 0 15px;
  position: relative;
}
/* line 63, ../scss/admin-style.scss */
.main-menu .main-menu-item .main-menu-item-inner-sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 120px;
}
/* line 70, ../scss/admin-style.scss */
.main-menu .main-menu-item .main-menu-item-inner-sub-menu .main-menu-item-inner-sub-menu-item {
  padding-left: 15px;
}
/* line 74, ../scss/admin-style.scss */
.main-menu .main-menu-item .main-menu-item-inner-sub-menu .main-menu-item-inner-sub-menu-item-link-name {
  font-size: 1.4rem;
  line-height: 18px;
  padding: 8px 0;
  font-weight: bold;
}
/* line 82, ../scss/admin-style.scss */
.main-menu .main-menu-item:hover {
  background-color: black;
  color: #62584d;
}
/* line 89, ../scss/admin-style.scss */
.main-menu .main-menu-item.main-menu-item-including-sub-menu:hover:after {
  right: 0px;
  border: 8px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #444e58;
  top: 50%;
  margin-top: -8px;
}
/* line 101, ../scss/admin-style.scss */
.main-menu .main-menu-item.main-menu-item-including-sub-menu:hover .main-menu-item-inner-sub-menu {
  display: block;
  z-index: 9999;
  background-color: #444e58;
  color: white;
}
/* line 109, ../scss/admin-style.scss */
.main-menu .main-menu-item.now {
  background-color: #9da8b2;
  color: white;
}
/* line 113, ../scss/admin-style.scss */
.main-menu .main-menu-item.now:hover .main-menu-item-inner-sub-menu {
  background-color: #9da8b2;
  color: white;
  z-index: auto;
}
/* line 119, ../scss/admin-style.scss */
.main-menu .main-menu-item.now .main-menu-item-inner-sub-menu {
  display: block;
  position: relative;
  left: 0;
  top: 0;
}
/* line 126, ../scss/admin-style.scss */
.main-menu .main-menu-item .main-menu-item-link {
  display: block;
  position: relative;
}
/* line 130, ../scss/admin-style.scss */
.main-menu .main-menu-item .main-menu-item-link .main-menu-item-link-name {
  font-size: 1.4rem;
  line-height: 18px;
  padding: 8px 0;
  font-weight: bold;
}

/* line 140, ../scss/admin-style.scss */
.main-content {
  min-height: 800px;
}

/* line 144, ../scss/admin-style.scss */
.main-footer {
  min-height: 30px;
  text-align: center;
  padding: 8 0px;
  background-color: #23282d;
  color: #dcd7d2;
}
